@import 'tailwindcss';
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 30s linear infinite;
}

.animate-marquee2 {
  display: inline-flex;
  animation: marquee2 35s linear infinite;
}
